<div>
  <form action='Greetings' method='post'>
    <button type='view' name="peopleGreeted" value='greet'>Back</button>
    {{#each names}}
      <div class="names">
        {{this}}
      </div>
    {{/each}}

    <div id='listOfNames'>

    </div>
  </form>
</div>
