<form action="/Greetings" method="post">

<button type='view' name="peopleGreeted" value='greet'>Back</button>
{{#each names}}
<div class="names">
  <a href="/Counter/{{this.name}}" >{{this.name}}</a>
</div>
{{/each}}
<div id='listOfNames'>

</div>



</form>
