
<form action="/Greetings" method="post">
  <label>Enter Name:<input type='text' name='person' placeholder="Enter your name"></input></label>

  <div class='error'>
    {{messages.error}}
  </div>
  <input type='radio' name='language' value='IsiXhosa'>IsiXhosa</input>

  <input type='radio' name='language' value='English'>English</input>

  <input type='radio' name='language' value='Afrikaans'>Afrikaans</input>
  <br></br>
  <button type='submit' name="" value='greet'>Greet me</button>
  <a  href="/Greeted" class="greetedNames">View greeted</a>


<div id='counter'>
  {{output}}
</div>
<div id='output'>
  {{msg}}
</div>
</form>
