<form action="/Greetings" method="post">
  <input type='text' name='person' placeholder="Enter your name"></input>
  <br></br>
  <input type='radio' name='language' value='IsiXhosa'>IsiXhosa</input>
  <input type='radio' name='language' value='English'>English</input>
  <input type='radio' name='language' value='Afrikaans'>Afrikaans</input>
  <br></br>
  <button type='submit' name="" value='greet'>Greet me</button>
</form>
<div id='output'>
  {{msg}}
</div>
<div>
  {{output}}
</div>
