html{
  background-color:#433246;
}
form{
  width: 400px;
  border: 15px solid green;
  padding: 25px;
  margin: 25px;
  margin-right: 50%;
text-align: center;
margin-top: 10em;
margin-left:25em;
color:yellow;

}


#greeted{
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: auto;
    height: 20%;
    color: yellow;
}
#counter{
  height: 5em;
  width: 10em;
  background-color:#5d4c45;
}
h1{
  font-family: Lobster;
  text-align: center;
  font-size: 6em;
  color: yellow;
}
